.quoteContainer {
  display: grid;
  justify-content: center;
  margin-top: 5rem;
  grid-template-columns: repeat(1, 80%);
}

.loading {
  color: rgb(200, 222, 30);
  text-align: center;
}

.mainQuote {
  background: linear-gradient(to right, #fda, #fa0);
  text-align: center;
  line-height: 1.8;
  padding: 2rem;
  color: rgb(43, 10, 154);
  font-weight: bold;
}
